.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 134, 170, 0.699);
  color: #fff;
  padding: 1em;
}

.navbar-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.navbar-toggler span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar-toggler.active span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav.active {
  display: flex;
  flex-direction: column;
}




/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) { ... }

/* / Dispositivos small (telefones em modo paisagem, com 576px ou mais) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

/* / Dispositivos médios (tablets com 768px ou mais) */
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/* Dispositivos large (desktops com 992px ou mais) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* / Dispositivos extra large (desktops grandes com 1200px ou mais) */
@media (min-width: 1200px) { ... }