.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(15, 134, 170, 0.699);
  color: #fff;
  padding: 1em;
}

.navbar-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.navbar-toggler span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar-toggler.active span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav.active {
  display: flex;
  flex-direction: column;
}



/* / Dispositivos médios (tablets com 768px ou mais) */
@media only screen and (min-width: 700px){
  .navbar-toggler {
    display: none;
  }
  .nav-item {
    display: flex;
    padding: 0 5em;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
}
